---
import Button from "../components/Button.astro";
import Cards from "../components/Cards.astro";
import Footer from "../components/Footer.astro";
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import gradient from "../assets/gradient.svg";
import heroImg from "../assets/hero-image.svg";
import phone from "../assets/phone.png";
---

<Layout title="Playlist">
  <Nav />

  <!-- HERO SECTION -->
  <section class="border-dashed border-b-2 border-gray-300 pb-12 md:pb-0">
    <div
      class="container relative flex flex-col-reverse items-center justify-center gap-10 md:flex-row md:gap-20"
    >
      <!-- hero text -->
      <div class="md:mt-0 md:w-1/2">
        <h1
          class="lg:leading-tight text-3xl lg:text-5xl font-bold text-primary text-center md:text-left"
        >
          Progressive Unique
          <br />
          <span class="hero-span">For Anyone Alike</span>
        </h1>
        <p class="text-sm mt-2 text-center text-zinc-700 md:text-left lg:mt-4 lg:text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eum
          nam maxime cupiditate est? Officiis, minima eligendi? Ut animi tempore
          sapiente, odit, deserunt vero voluptatem fugiat, ab dolorum eum
          mollitia!
        </p>
        <div class="flex gap-4 mt-6 justify-center md:justify-start">
          <Button text="Explore Now" solid />
          <Button text="Learn More" outline />
        </div>
      </div>

      <!-- hero image -->
      <div
        class="relative flex justify-center w-[75%] md:w-1/2 lg:flex-1 lg:w-full lg:h-full"
      >
        <img
          src={heroImg}
          alt="hero image"
          class="relative max-w-none w-full md:w-[125%] -z-10"
        />
      </div>
      <img
        src={gradient}
        class="absolute -z-20 max-w-none w-[120%] -top-24 md:w-3/4 md:-right-28 md:-top-40 md:rotate-90 lg:-right-44 lg:-top-48"
      />
    </div>
  </section>

  <!-- CARDS SECTION -->
  <section class="bg-gradient-to-b from-sand pt-20">
    <div class="container flex flex-col items-center">
      <Heading subheading="what does it offer" heading="Diverse genres" />
      <Cards />
    </div>

    <!--  -->
    <div class="bg-pattern bg-no-repeat bg-cover pt-40 pb-20">
      <div
        class="container flex flex-col items-center gap-20 md:flex-row md:items-center"
      >
        <div class="relative flex items-center sm:w-3/4 md:w-1/2 lg:w-[55%]">
          <img src={phone} alt="" />
          <img
            class="absolute -z-10 -left-28 md:-left-40 -top-32 max-w-none w-[155%]"
            src={gradient}
            alt=""
          />
        </div>
        <div class="flex flex-col items-center md:items-start md:flex-1">
          <Heading
            subheading="playlist for everyone"
            heading="Music for everyone"
          />
          <Button text="Learn more" solid>
            <box-icon name="right-arrow-alt" size="sm" color="white" slot="icon"
            ></box-icon>
          </Button>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER SECTION -->
  <Footer />
</Layout>

<style>
  .hero-span {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
  }
</style>
