---
import Logo from "./Logo.astro";
import Button from "./Button.astro";
---

<section>
  <div class="container py-10 bg-transparent">
    <nav class="flex items-center justify-between">
      <div class="md:hidden lg:block">
        <Logo />
      </div>

      <div
        class="nav z-50 w-full md:translate-x-0 md:flex md:justify-between lg:w-auto lg:gap-16"
      >
        <div class="hidden md:block lg:hidden">
          <Logo />
        </div>
        <ul
          class="links -translate-y-full transition-transform duration-500 absolute top-0 left-0 text-sm w-screen h-4/5 drop-shadow-md rounded-b-[2.5rem] bg-white bg-pattern bg-no-repeat bg-center bg-cover flex-col items-center justify-center gap-8 md:gap-5 md:translate-y-0 md:w-auto md:h-auto flex md:flex-row md:static md:bg-transparent lg:gap-8"
        >
          <li
            class="group border-b w-3/5 h-14 flex duration-300 hover:ms-12 hover:border-primary md:border-none md:w-auto md:h-auto hover:md:ms-0"
          >
            <a
              href="/"
              class="duration-300 text-zinc-700 w-full h-full group-hover:tracking-wider group-hover:text-primary"
              >Home</a>
          </li>
          <li
            class="group border-b w-3/5 h-14 flex duration-300 hover:ms-12 hover:border-primary md:border-none md:w-auto md:h-auto hover:md:ms-0"
          >
            <a
              href="/"
              class="duration-300 text-zinc-700 w-full h-full group-hover:tracking-wider group-hover:text-primary"
              >About</a>
          </li>
          <li
            class="group border-b w-3/5 h-14 flex duration-300 hover:ms-12 hover:border-primary md:border-none md:w-auto md:h-auto hover:md:ms-0"
          >
            <a
              href="/"
              class="duration-300 text-zinc-700 w-full h-full group-hover:tracking-wider group-hover:text-primary"
              >Services</a>
          </li>
          <li
            class="group border-b w-3/5 h-14 flex duration-300 hover:ms-12 hover:border-primary md:border-none md:w-auto md:h-auto hover:md:ms-0"
          >
            <a
              href="/"
              class="duration-300 text-zinc-700 w-full h-full group-hover:tracking-wider group-hover:text-primary"
              >Features</a>
          </li>
          <li
            class="group border-b w-3/5 h-14 flex duration-300 hover:ms-12 hover:border-primary md:border-none md:w-auto md:h-auto hover:md:ms-0"
          >
            <a
              href="/"
              class="duration-300 text-zinc-700 w-full h-full group-hover:tracking-wider group-hover:text-primary"
              >Contact</a>
          </li>
        </ul>

        <div class="hidden md:flex items-center">
          <Button text="Get in touch" outline />
        </div>
      </div>

      <box-icon
        class="hamburger-btn z-50 cursor-pointer md:hidden"
        size="1.8em"
        name="menu-alt-right"></box-icon>
    </nav>
  </div>
</section>

<script>
  const hamburgerBtn = document.querySelector(".hamburger-btn");
  const links = document.querySelector(".links");
  let isOpen = false;

  hamburgerBtn.addEventListener("click", () => {
    isOpen = !isOpen;
    links.classList.toggle("-translate-y-full");

    hamburgerBtn.setAttribute("name", `${isOpen ? "x" : "menu-alt-right"}`);
  });
</script>
